@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./darkMode.css";

@font-face {
  font-family: 'General';
  src: url(./components/asset/font/GeneralSans-Medium.ttf);
}

@font-face {
  font-family: 'GeneralL';
  src: url(./components/asset/font/GeneralSans-Light.ttf);
}

@font-face {
  font-family: 'GeneralBold';
  src: url(./components/asset/font/GeneralSans-Bold.ttf);
}

.text--fading[data-scroll='out'] .char {
  opacity: 0;
}

html {
  font-family: 'General';
  scroll-behavior: smooth;
  backdrop-filter: blue(10px);
  color: #bfc3ca !important;
  background-color: #121213;
}

.asset {
  position: absolute;
  display: flex;
  z-index: -1;
}

.welcome {
  font-family: 'General';
  height: 60vh;
  font-size: 70px;
  position: relative;
  /* background-image: linear-gradient(to bottom , #0d1417, black); */
}

@media (max-width: 576px) {
  .welcome h1 {
    font-size: 60px !important;
  }

  .welcome span {
    font-size: 60px !important;

  }
}

.welcome h4 {
  font-family: 'GeneralL';
}

@media (min-width: 576px) {
  .welcome {
    font-size: 50px;
  }
}

.container {
  font-family: 'General';
}

/* 
.welcome h1 {
  /* font-size: 80px !important; 
  font-family: "General";
   */

.navbar {
  font-family: 'General';
  transition: 0.5s;
  /* background-color: transparent !important; */
  /* backdrop-filter: blur(4px); */
}

span {
  font-family: "General";
  /* color: #a2bed5; */
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #bfc3ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-in;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#about {
  /* background-image: linear-gradient(180deg, black,black); */
  font-family: "General";
  /* transform: skewY(-3deg); */
  /* background-color: #0d0d0e; */
}

#projects {
  font-family: "General";
}

#projects a:hover {
  transition: 0.2s ease-out;
  border-top: solid 1px;
  border-bottom: solid 1px;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  /* background-color: #bfc3ca ; */
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.greet { 
  background: -webkit-linear-gradient(rgb(201, 204, 211), rgb(16, 17, 19));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.gli {
  font-family: "General";
}

.thanks {
  font-family: "General";
}